permissions:
  contents: write
name: .NET Core Desktop Release

on:
  release:
    types:
      - published

jobs:
  release:
    strategy:
      matrix:
        configuration: [Release]

    runs-on:
      windows-latest # For a list of available runner types, refer to
      # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    env:
      Solution_Name: Eede.sln
      Wap_Project_Directory: Eede.Presentation.Desktop
      Wap_Project_Path: Eede.Presentation.Desktop\Eede.Presentation.Desktop.csproj

    outputs:
      version: ${{ steps.step_version.outputs.version }}
      upload_url: ${{ steps.step_upload_url.outputs.upload_url }}

    steps:
      - name: Get the version
        id: get_version
        run: |
          $tag = "${{ github.ref_name }}"
          $version = $tag.TrimStart('v')
          echo "VERSION=$version" >> $env:GITHUB_OUTPUT

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Install the .NET Core workload
      - name: Install .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Install Velopack CLI
        run: dotnet tool install -g vpk

      # Execute all unit tests in the solution
      - name: Execute unit tests
        run: dotnet test --configuration Release

      - name: Publish Application
        run: dotnet publish ${{ env.Wap_Project_Path }} --configuration Release --output "./publish" /p:Version=${{ steps.get_version.outputs.VERSION }}

      - name: Create Velopack Release
        run: |
          vpk pack --packId "Eede" --packVersion "${{ steps.get_version.outputs.VERSION }}" --packDir "./publish" --mainExe "Eede.Presentation.Desktop.exe" --packAuthors "arkfinn" --packTitle "Eede"

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ./Releases/*.nupkg
            ./Releases/RELEASES
            ./Releases/*.exe
            ./Releases/*.zip
